body {
    font-family: 'PT Serif', serif;
}

.cart-title {
    font-family: 'PT Serif', sans-serif !important;
    font-weight: bold !important;
}

.red-button, .modal-header {
    background-color: #B4001B !important;
    border: #B4001B !important;
    color: #ffffff !important;
}

.red-button:hover {
    background-color: #B4001B;
    border: #B4001B !important;
    color: #ffffff !important;
    opacity: 90%;
}

.green-button {
    background-color: #4BBA78;
    border: #4BBA78;
}

.green-button:hover {
    background-color: #4BBA78;
    border: #4BBA78;
    opacity: 90%;
}

.login-card, .register-card, .add-product-card, .update-modal .modal-content, .inner-order-div{
    background-color: #FFFFFF !important;
}

.login-card, .register-card, .about-card {
    opacity: 90%;
}

.login-card:hover, .register-card:hover, .about-card:hover {
    opacity: 100%;
}

.login-label, .register-label, .update-label {
    font-family: 'PT Serif', serif !important;
    color: #B4001B;
    font-weight: 300;
}

.product-view-img {
    width: 300px;
    height: 200px;
}

.product-view {
    margin-top: 5rem;
}

.modal-title {
    color: #ffffff;
}

.form-header {
    background-color: #B4001B;
    border: #B4001B;
}

.add-product-card {
    position: fixed;
    background-color: #ffffff;
    opacity: 50%;
    right: 8%;
    top: 10vh;
}

@media (min-width: 1920px) { 
    .add-product-card {
       right: 16% !important;
    }
}

.add-product-header {
    background-color: #B4001B;
}

.add-product-card:hover {
    opacity: 100%;
}

.order-div {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.inner-order-div {
    border: 1px solid #000000 !important;
}

@media (min-width: 992px) { 
    .quantity-handler {
       width: 25% !important;
    }
}

.quantity-handler {
    width: 50%;
}

.bg-img {
    background-image: url("../../public/images/bg-img.png");
    background-size: cover;
    background-position: right;
}

.back-icon {
    width: 24px;
    height: 24px;
    color: #B4001B;
}

.product-view-card {
    background-color: #212429 !important;
}

.text-justify {
    text-align: justify !important;
}

.red-spinner {
    color: #B4001B !important;
}

/* ============================
    HOME
===============================*/

.body-home {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.p-home {
    color: #000000;
    font-family: 'Anurati', sans-serif !important;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}
  
.p-home span {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500;
    -webkit-font-smoothing: antialiased;
}
  
.p-home span::before,
.p-home span::after {
    display: none;
    position: absolute;
    top: 0;
    left: -1px;
    transform-origin: left top;
    transition: all ease-out 0.3s;
    content: attr(data-text);
}
  
.p-home span::before {
    z-index: 1;
    color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1, 1) skew(0deg, -20deg);
}
  
.p-home span::after {
    z-index: 2;
    color: #B4001B;
    text-shadow: -1px 0 1px #B4001B 1px 0 1px rgba(0, 0, 0, 0.8);
    transform: rotateY(-40deg);
}
  
.p-home span:hover::before {
    transform: scale(1.1, 1) skew(0deg, -10deg);
}
  
.p-home span:hover::after {
    transform: rotateY(-10deg);
}
  
.p-home span + span {
    margin-left: 0.3em;
}
  
@media (min-width: 20em) {
    .p-home {
      font-size: 2em;
    }
    .p-home span::before,
    .p-home span::after {
      display: block;
    }
}
  
@media (min-width: 30em) {
    .p-home {
      font-size: 3em;
    }
}
  
@media (min-width: 40em) {
    .p-home {
      font-size: 5em;
    }
}
  
@media (min-width: 60em) {
    .p-home {
      font-size: 8em;
    }
}  


/*======================
    404 page
=======================*/

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
  
.four_zero_four_bg {
    background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/media/bbcfd1a1fecd97c1835792283a601f10.gif");
    background-repeat: no-repeat;
    height: 400px;
    background-position: 10rem;
}
  
.four_zero_four_bg h1 {
    font-size: 80px;
}
  
.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
}

.content_box_404 {
    margin-top: -50px;
}
  
  