.navbar-color, .my-dropdown .dropdown-menu, .nav-color:hover {
    background-color: #212429 !important;
}

.nav-color, .nav-dropdown-color, .search-bar {
    font-family: 'PT Serif', serif !important;
    color: #CBC8CF !important;
}

.nav-brand-color, .nav-color.active, .nav-color:hover, .product-name{
    color: #B4001B !important;
}

.nav-brand-color {
    font-family: 'Anurati', sans-serif !important;
}

.navbar-toggler {
    background-color: #B4001B !important;
}

.navbar-color {
    position: fixed;
    width: 100%;
    max-width: inherit;
    z-index: 100;
}

.search-bar {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.product-card {
    background-color: #FFFFFF !important;
    height: 100%;
    transition: transform 0.1s;
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.product-card-body {
    height: 30%; /* Adjust this value to control the height of the card body */
}

.product-title, .cart-title {
    font-family: 'PT Serif', serif !important;
    font-weight: bold;
    color: #000000;
}

.product-title {
    font-size: 1rem;
}

.product-label {
    color: #615D5E !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 0.75rem;
}

.product-footer {
    color: #000000;
    opacity: 50%;
    font-size: 0.75rem;
}

.product-img {
    height: 100%;
}

.product-img-wrapper {
    height: 100px;
    overflow: hidden;
}

.red-button  {
    font-family: 'PT Serif', serif;
    background-color: #B4001B !important;
    border: 1px solid #B4001B !important;
    transition: transform 0.1s;
}

.red-button:hover {
    opacity: 90%;
}

.edit-icon:hover, .delete-icon:hover {
    color: #B4001B;

}

.green-button {
    font-family: 'PT Serif', serif;
    background-color: #4BBA78 !important;
    border: #4BBA78 !important;
    transition: transform 0.1s;
}

.green-button:hover {
    opacity: 90%;
}