/* All */

body {
    background-color: #EEF1F6;
    color : #615D5E;
}

/* .swal2-popup {
    border: 2px solid #B4001B
}

.swal2-popup .swal2-actions .swal2-confirm, .swal2-popup .swal2-actions .swal2-cancel{
    border: #B4001B !important;
} */

.swal2-confirm {
    background: #B4001B !important;;
}

/* Add this CSS to your stylesheet */
/* For Webkit-based browsers */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #B4001B;
  }
  
  /* For Firefox */
  ::-moz-scrollbar {
    width: 8px;
  }
  
  ::-moz-scrollbar-thumb {
    background-color: #B4001B;
  }
  
  /* For IE, Edge, and Opera */
 /*  scrollbar-color: red;
  scrollbar-width: thin; */
  